.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  border-radius: 20px;
}

.service-card {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  margin-bottom: 5rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  background: linear-gradient(45deg, rgba(255, 152, 0, 0.8), rgba(156, 39, 176, 0.8), rgba(255, 235, 59, 0.8));
  background-position: bottom;
  margin-bottom: 2rem;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.service-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.service-card p {
  font-size: 1rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .services {
    justify-content: center;
  }
  
  .service-card {
    margin: 0.5rem;
  }
}
